@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/* react-select input's placeholder text color */
.css-1jqq78o-placeholder {
    color: #9ca3af !important;
}

/* react-select input's disabled and non-disabled container */
.css-b62m3t-container,
.css-3iigni-container {
    width: 100% !important;
}

/* react-select input's value or input container */
.css-1fdsijx-ValueContainer {
    padding: 0 !important;
}

@media print {
    /* hide headers and footers */
    @page {
        margin: 0;
    }

    body {
        margin: 0;
    }
}
